[Desktop Entry]
Type=Application
Name=TwoFAuth Client
Comment=Native desktop client for 2FAuth
Comment[de]=Nativer Desktop-Client für 2FAuth
Exec=twofauth-client
Icon=io.github.knuddel823.twofauth-client
Terminal=false
Categories=Utility;Security;
Keywords=2FA;TOTP;HOTP;OTP;Authenticator;TwoFAuth;
Keywords[de]=2FA;TOTP;HOTP;OTP;Authentifizierung;TwoFAuth;
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
